.context-menu {
  display: none;
  background: #161313;
  border-radius: 0 0 4px 4px;
  padding: 30px 16px 30px 16px;
  justify-content: center;
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav {
  display: flex;
  justify-content: end;
  align-items: center;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.context-list-link {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:active {
    color: #ffc609;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
