.process-wrapper {
  @include media(desktop) {
  }
}

.process-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 112px;
  }
}

.process-container {
  @include media(desktop) {
  }
}

.process-title {
  @include media(desktop) {
  }
}

.process-subtitle {
  @include media(desktop) {
  }
}

.process-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  margin-bottom: 40px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 24px;
  }
}

.process-list-item {
  box-shadow: 0 4px 20px 0 rgba(4, 39, 107, 0.15);
  background: rgba(0, 224, 184, 0.05);
  border: 1px solid #2563eb;
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  min-height: 102px;
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
    padding: 24px;
    max-width: 416px;
    min-height: 128px;
    gap: 16px;
  }
}

.process-item-number {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.4;
  text-align: center;
  color: rgba(37, 99, 235, 0.3);

  @include media(desktop) {
    font-size: 56px;
  }
}

.process-item-text-wrapper {
}

.process-list-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #05163b;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.process-list-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #05163b;
  max-width: 200px;

  @include media(desktop) {
    font-size: 16px;
    max-width: max-content;
  }
}

.process-btn {
  background: #2563eb;
  border-radius: 16px;
  padding: 12px 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding: 16px 24px;
    font-size: 24px;
    max-width: max-content;
  }
}
