<section class="section atmosphere-section" id="atmosphere">
  <div class="container atmosphere-container">
    <h2 class="section-title atmosphere-title">Atmosphere</h2>
    <p class="section-subtitle atmosphere-subtitle">Step Into Another World</p>
    <picture>
      <source
        srcset="./img/atmosphere/atmosphere-bg-desk.png"
        media="(min-width: 1440px)"
        width="544"
        height="296" />
      <source
        srcset="./img/atmosphere/atmosphere-bg-mob.png"
        width="343"
        height="187" />
      <img
        class="atmosphere-img"
        src="./img/atmosphere/atmosphere-bg-mob.png"
        alt="Library"
        width="343"
        height="187"
        loading="lazy"
    /></picture>
    <p class="atmosphere-bottom-list-title">
      Our escape room is designed as a living library:
    </p>
    <ul class="atmosphere-bottom-list">
      <li class="atmosphere-bottom-list-item">
        <p class="atmosphere-bottom-list-text">
          Candlelight flickers across wooden shelves
        </p>
      </li>
      <li class="atmosphere-bottom-list-item">
        <p class="atmosphere-bottom-list-text">
          Dusty tomes whisper when opened
        </p>
      </li>
      <li class="atmosphere-bottom-list-item">
        <p class="atmosphere-bottom-list-text">
          Latin inscriptions glow under blacklight
        </p>
      </li>
      <li class="atmosphere-bottom-list-item">
        <p class="atmosphere-bottom-list-text">
          A haunting melody plays as time runs out
        </p>
      </li>
    </ul>
  </div>
</section>
