<section class="section booking-section" id="booking">
  <div class="container booking-container">
    <h2 class="section-title booking-title">Booking & Pricing</h2>
    <p class="section-subtitle booking-subtitle">
      Reserve Your Seat Among the Tomes
    </p>
    <ul class="booking-bottom-list">
      <li class="booking-bottom-list-item">
        <h3 class="booking-bottom-list-title">Team size:</h3>
        <p class="booking-bottom-list-text">
          2–5<br />
          players
        </p>
      </li>
      <li class="booking-bottom-list-item">
        <h3 class="booking-bottom-list-title">Duration:</h3>
        <p class="booking-bottom-list-text">
          70<br />
          minutes
        </p>
      </li>
      <li class="booking-bottom-list-item">
        <h3 class="booking-bottom-list-title">Price:</h3>
        <p class="booking-bottom-list-text">
          from<br />
          $30 per player
        </p>
      </li>
      <li class="booking-bottom-list-item">
        <h3 class="booking-bottom-list-title">Location:</h3>
        <p class="booking-bottom-list-text">
          Booksie Escape<br />
          Hall
        </p>
      </li>
    </ul>
    <a href="#contact" class="booking-btn">Book Now</a>
  </div>
</section>
