<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <h2 class="section-title contact-title">Contact</h2>
      <p class="section-subtitle contact-subtitle">Your Next Chapter Awaits</p>
      <a href="mailto:info@proboostix.com" class="contact-mail-link"
        >info@proboostix.com</a
      >
      <a href="#home" class="contact-btn">Get In Touch</a>
      <img
        class="contact-img"
        src="./img/contact/contact-bg-desk.png"
        alt="Figure"
        width="254"
        height="260"
        loading="lazy"
      />
    </div>
  </div>
</section>
