<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <p class="section-subtitle faq-subtitle">Before You Open the First Book…</p>
    <div class="faq-list-wrapper">
      <ul class="faq-bottom-list">
        <li class="faq-bottom-list-item">
          <h3 class="faq-bottom-list-title">How difficult is the game?</h3>
          <p class="faq-bottom-list-text">
            The library is designed for intermediate-to-advanced puzzlers.
            Expect cryptography, riddles, and layered challenges.
          </p>
        </li>
        <li class="faq-bottom-list-item">
          <h3 class="faq-bottom-list-title">
            Do I need to know Latin or ancient languages?
          </h3>
          <p class="faq-bottom-list-text">
            No — all clues are solvable with logic. Translations are hidden
            within the game.
          </p>
        </li>
        <li class="faq-bottom-list-item">
          <h3 class="faq-bottom-list-title">What if I get stuck?</h3>
          <p class="faq-bottom-list-text">
            A game master will provide hints if needed.
          </p>
        </li>
        <li class="faq-bottom-list-item">
          <h3 class="faq-bottom-list-title">Is it dark inside?</h3>
          <p class="faq-bottom-list-text">
            The library is candlelit for atmosphere, but lanterns are provided
            for puzzles.
          </p>
        </li>
        <li class="faq-bottom-list-item">
          <h3 class="faq-bottom-list-title">Can I book a private session?</h3>
          <p class="faq-bottom-list-text">
            Yes, entire rooms can be reserved for private groups or
            team-building events.
          </p>
        </li>
      </ul>
      <img
        class="faq-img"
        src="./img/faq/faq-bg-desk.png"
        alt="Library"
        width="544"
        height="513"
        loading="lazy"
      />
    </div>
  </div>
</section>
