<footer class="footer" id="footer">
  <div class="container footer-container">
    <ul class="footer-contact-list">
      <li class="footer-contact-list-item">
        <p class="footer-contact-item-title">Socials:</p>
        <ul class="footer-contact-socials-list">
          <li class="footer-contact-socials-list-item">
            <a
              class="footer-contact-socials-link"
              href="https://www.linkedin.com/"
              rel="noopener noreferrer"
              target="_blank"
            >
              <img
                class="footer-contact-logo-img"
                src="./img/footer/footer-linkedin.png"
                alt="Linkedin logo"
                width="40"
                height="40"
                loading="lazy"
            /></a>
          </li>
          <li class="footer-contact-socials-list-item">
            <a
              class="footer-contact-socials-link"
              href="https://www.facebook.com/"
              rel="noopener noreferrer"
              target="_blank"
            >
              <img
                class="footer-contact-logo-img"
                src="./img/footer/footer-facebook.png"
                alt="Facebook logo"
                width="40"
                height="40"
                loading="lazy"
            /></a>
          </li>
        </ul>
      </li>
      <li class="footer-contact-list-item">
        <p class="footer-contact-item-title">Phone:</p>
        <a class="footer-contact-item-link" href="tel:+13025550192">
          +1 (302) 555-0192</a
        >
      </li>
      <li class="footer-contact-list-item">
        <p class="footer-contact-item-title">Email:</p>
        <a
          class="footer-contact-item-link"
          href="mailto:info@autobaseit.online"
        >
          info@autobaseit.online</a
        >
      </li>
    </ul>
    <nav class="footer-nav">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-link" href="./privacy-policy.html"
            >Privacy<br class="footer-br" />
            Policy</a
          >
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./terms-and-conditions.html"
            >Terms &<br class="footer-br" />
            Conditions</a
          >
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./cookies-policy.html"
            >Cookies<br class="footer-br" />
            Policy</a
          >
        </li>
      </ul>
    </nav>
    <p class="footer-text">
      © 2025 Autobase IT Tech Solutions LLC. All rights reserved.
    </p>
  </div>
</footer>
