<section class="section puzzles-section" id="puzzles">
  <div class="container puzzles-container">
    <div class="puzzles-content-wrapper">
      <div class="puzzles-top-wrapper">
        <h2 class="section-title puzzles-title">Key Puzzles</h2>
        <p class="section-subtitle puzzles-subtitle">
          What Awaits Inside the Library?
        </p>
      </div>
      <div class="puzzles-bottom-wrapper">
        <ul class="puzzles-bottom-list">
          <li class="puzzles-bottom-list-item">
            <svg class="star-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <p class="puzzles-bottom-list-text">
              Decipher ancient manuscripts and encrypted codes
            </p>
          </li>
          <li class="puzzles-bottom-list-item">
            <svg class="star-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <p class="puzzles-bottom-list-text">
              Rearrange books to reveal hidden mechanisms
            </p>
          </li>
          <li class="puzzles-bottom-list-item">
            <svg class="star-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <p class="puzzles-bottom-list-text">
              Solve riddles from forgotten philosophers
            </p>
          </li>
          <li class="puzzles-bottom-list-item">
            <svg class="star-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <p class="puzzles-bottom-list-text">
              Unlock secret doors disguised as bookshelves
            </p>
          </li>
          <li class="puzzles-bottom-list-item">
            <svg class="star-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <p class="puzzles-bottom-list-text">
              Follow glowing runes to the final key
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
